@charset "UTF-8";

.gropu2{
    display: flex;
}



.content{
    text-align: center;
}

.find_account{
    display: flex;
    justify-content: center;

}


#checklist_box{
    background-color: pink;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    height: 450px;
}
/*---------------------------------두번째그룹 왼쪽 -----------------------*/
.gropu2_left{
    width: 75%;
    border-radius: 5px;
}
