@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    width: 100%;
    
}


.wrap-container{
    width: 70%;
    margin: 0 auto;
}

a{
	text-decoration:none !important;
}


.btn-primary{
   background-color:#3f78bf !important;
   border-color:#3f78bf !important;
}

.btn-primary a{
text-decoration: none;
color: white;
}

/*왼쪽*/
.hosform-leftwrap-container{
   height:100%;
}
.hosleft-box{
   width:100%;
   min-width: 165px;
   height:100%;
   align-items: flex-start; 
   border-radius: 10px;
}
/*서비스*/
.hosservice-box{
   min-width: 120px;
}

.hosservice-box div{
   width:100%;
   height:auto;
}

.hosservice-box ul li{
   width:100%;
   height:30px;
   background-color: white;
   text-decoration: none;
   text-align: left;
    display: flex;
    padding-bottom:5px;
    font-size: 14px;
}

.hosservice-box .hosservice{
   width:100%;
   height: 120px;
   color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003966;
}

.a-mvcinsertform {
    background-color: #fff; /* 초기 백그라운드 색상 */
	height:40px !important;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.a-mvcinsertform.active {
    background-color: #3f78bf !important; /* 활성화된 경우의 백그라운드 색상 */
    color: #fff; /* 활성화된 경우의 텍스트 색상 */
    height:40px !important;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.a-mvcinsertform.active a {
    color: #fff; /* 활성화된 경우의 텍스트 색상 */
}
.a-mvclistform {
    background-color: #fff; /* 다른 링크의 초기 백그라운드 색상 */
    height:40px !important;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.a-mvclistform.active {
    background-color: #3f78bf !important; /* 활성화된 경우의 백그라운드 색상 */
    color: #fff; /* 활성화된 경우의 텍스트 색상 */
    height:40px !important;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.a-mvclistform.active a {
    color: #fff; /* 활성화된 경우의 텍스트 색상 */
}
.a-fvcinsertform {
    background-color: #fff; /* 다른 링크의 초기 백그라운드 색상 */
    height:40px !important;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.a-fvcinsertform.active {
    background-color: #3f78bf !important; /* 활성화된 경우의 백그라운드 색상 */
    color: #fff; /* 활성화된 경우의 텍스트 색상 */
    height:40px !important;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.a-fvcinsertform.active a {
    color: #fff; /* 활성화된 경우의 텍스트 색상 */
}
.a-fvclistform {
    background-color: #fff; /* 다른 링크의 초기 백그라운드 색상 */
    height:40px !important;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.a-fvclistform.active {
    background-color: #3f78bf !important; /* 활성화된 경우의 백그라운드 색상 */
    color: #fff; /* 활성화된 경우의 텍스트 색상 */
    height:40px !important;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.a-fvclistform.active a {
    color: #fff; /* 활성화된 경우의 텍스트 색상 */
}
.a-hopitalform {
    background-color: #fff; /* 다른 링크의 초기 백그라운드 색상 */
    height:40px !important;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.a-hopitalform.active {
    background-color: #3f78bf !important; /* 활성화된 경우의 백그라운드 색상 */
    color: #fff; /* 활성화된 경우의 텍스트 색상 */
    height:40px !important;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.a-hopitalform.active a {
    color: #fff; /* 활성화된 경우의 텍스트 색상 */
}
.vcc-alink{
	text-decoration: none;
	width:100%;
}
